<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./components/head.ejs')%> 
</head>
<body>
  <header><%- include('./components/header.ejs')%> </header>
  <main>
    <%- include('./components/about_us.ejs') %> 
    <%- include('./components/how_to.ejs') %> 
    <%- include('./components/faq.ejs') %> 
    <%- include('./components/clients.ejs') %> 
    
  </main>
  <footer><%- include('./components/footer.ejs') %> </footer>
    <script>
      new Glider(document.querySelector(".glider"),{
        slidesToScroll: 1,
        slidesToShow: 2.1,
        draggable: true,
        arrows: {
          prev: ".glider-prev",
          next: ".glider-next",
        },
      })
    </script>
</body>
</html>